<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form th:action="@{/noticia/crearNoticia}" method="post">

            <div class="form-group">
                <input type="text" class="form-group" name="titulo" placeholder="Titulo">
            </div>
            <div>
                <input type="text" name="cuerpo" placeholder="Escribi la noticia aca"> <br>
            </div>
            
            
            <button type="submit" class="btn btn-primary">Enviar</button>

<!--            <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
                <div class="card-body">
                    <h5 class="card-title">Error </h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>
            <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
                <div class="card-body">
                    <h5 class="card-title">Exito </h5>
                    <p class="card-text" th:text="${exito}"> </p>
                </div>
            </div>-->

        </form>
    

    </body>
</html>
