<!DOCTYPE html>
<html lang="en" xlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nuevoPeriodista</title>
</head>

<body>
    <header>
        <div class="container">
            <h1>Bienvenido periodista!</h1>
            <h3></h3>
    </header>
    <div class="container">

        <form action="/noticia/noticia" method="post">

            <div class="form-group">
                <input type="text" class="form-group" name="titulo" placeholder="Titulo">
            </div>
            <div>
                <input type="text" name="cuerpo" placeholder="Escribi la noticia aca"> <br>
            </div>
            <div class="form-group my-3">
                <select name="id_periodista">
                    <option>Seleccionar periodista</option>
                    <option th:each="periodista : ${periodistas}"
                            th:value="${periodista.id}"
                            th:text="${periodista.nombre}"></option>
                </select>
            </div>
            
            <button type="submit" class="btn btn-primary">Enviar</button>

            <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
                <div class="card-body">
                    <h5 class="card-title">Error </h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>
            <div th:if="${exito != null}" class="card text-white bg-danger mb-3 mt-3 mensajeExito">
                <div class="card-body">
                    <h5 class="card-title">Exito </h5>
                    <p class="card-text" th:text="${exito}"> </p>
                </div>
            </div>

        </form>
    </div>

    <form action="">


    </form>
</body>

</html>